@import "../styles/fonts";
@import "../styles/reset";
@import "../styles/variables";

body {
  color: $greyWhite;
  background-color: $black;
}
.popUp{
  margin:10px 10px ;
}
// .divider{
//   border-bottom: 1px solid white;
//   width:500px;
//   margin:auto;
//   height: 1px;
//   }
.container{
width: 550px;
height: 600px;

  // margin:auto;
// display:grid;
  // grid-gap:5px;
  // grid-template-columns: repeat(8,1fr);
  // grid-template-rows: repeat(12,1fr);
.content{
    width: full;
    height: full;
    // grid-column:2/9;
    // grid-row:2/13
  }
}
// .title {
    // font-size: 25px;
    // text-align: center;
    // grid-column:1/9;
   // grid-row:1;
  
  // }
  // .divider{
    // border-bottom: 1px solid gray;
  // }
#sideBarContent {
  // border-right: 1px solid gray;
  min-height: full;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .options__button {
    // width: fit-content;
    // background: green;
    // color: white;
    // font-weight: 500;
    // border-radius: 15px;
    // padding: 10px 15px;
    width: 80%;
    justify-content: center;
    // margin: 5px ;
    // cursor: pointer;
    // opacity: 0.8;
  }
  //
  .options__button:hover {
  background: red; 
  color: yellow;
  }
  //
  .options__button:focus{
  color: white;
  background: red; 
  }
}
