@import "../styles/fonts";
@import "../styles/reset";
@import "../styles/variables";

body {
  color: $greyWhite;
  background-color: $black;
}
.container{
width: 550px;
height: 600px;
  margin:auto;
display:grid;
  grid-gap:5px;
  grid-template-columns: repeat(8,1fr);
  grid-template-rows: repeat(12,1fr);
.content{
    width: full;
    height: full;
    grid-column:2/9;
    grid-row:2/13
  }
}
.title {
    border: 1px solid yellow; 
    font-size: 25px;
    text-align: center;
    grid-column:1/9;
   grid-row:1;
  
  }
#sideBarContent {
  border:1px solid white;
  min-width: fit-content;
  min-height: full;
  display: flex;
  flex-direction: column;
  #options__button {
    width: fit-content;
    background: green;
    color: white;
    font-weight: 500;
    border-radius: 15px;
    padding: 10px 15px;
    justify-content: center;
    margin: 5px ;
    cursor: pointer;
    opacity: 0.8;
  }
  
}
