@import "../../../styles/fonts"; 
@import "../../../styles/reset"; 
@import "../../../styles/variables"; 


.Register{
color:white;
width: 100%;
height: 100%;
  margin: auto;
  display: flex; 
  justify-content: center;
  align-items: center;
  #container{
    border: 1px solid gray;
    border-radius: 25px;
    width: 300px;
    min-height: 400px;
    #Div{
      display: flex;
        justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }

  h2{
    font-size: 20px;
    text-align: center;
    color: red;
    padding-top: 40px;

  }

  .buttons{
    display: flex;
    margin : 40px 10px;
    justify-content: center;
    align-items: center;
  }
  .Input{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    input{
      padding: 5px;
      border-radius: 10px;
      background-color: gray;
      color: black;
      font-size: 18px;
    }
    
  }
  .loginButton{
    background: red;
    color: white;
    padding: 5px 10px;
    margin: 0px 10px;
    border-radius: 10px;
    width: 70px;
    cursor: pointer;
  }

.RegisterButton{
    background: blue;
    color: white;
    padding: 5px 10px;
    margin: 0px 10px;
    border-radius: 10px;
    width: 70px;
    cursor: pointer;
  }

}
